<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta name="description" content="Error 404 - Page Not Found" />
	  <meta name="author" content="Wrong"/>
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>404 - Page Not Found</title>
  </head>
  <body>
	  <div class="wrapper">
		  <header class="header">
			  <h1 class="header-title">404 Not Found</h1>
		  </header>
		  <div class="content">
			  <img src="Scarecrow.png" class="image" alt="Image 404">
			  <article class="info">
				  <h2 class="info-title">I have bad news for you</h2>
				  <p class="info-description">The page you are looking for doesn't exist</p>
			  </article>
		  </div>	
	  </div>
  </body>
</html>
